<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.application.mapper.ArticleMapper">
    <!--使用自定义结果集类型-->
    <resultMap type="Article" id="BaseResultMap">
        <!-- column是查询结果的列名，可以来自不同的表-->
        <id property="articleID" column="ARTICLE_ID"/>
        <result property="publicTime" column="PUBLIC_TIME"/>
        <result property="title" column="TITLE"/>
        <result property="digest" column="DIGEST"/>
        <result property="content" column="CONTENT"/>
        <result property="heat" column="HEAT"/>
        <result property="commendNum" column="COMMEND_NUM"/>
        <result property="readNum" column="READ_NUM"/>
    </resultMap>

    <resultMap type="Article" id="ArticleMap">
        <!-- column是查询结果的列名，可以来自不同的表-->
        <id property="articleID" column="ARTICLE_ID"/>
        <result property="publicTime" column="PUBLIC_TIME"/>
        <result property="title" column="TITLE"/>
        <result property="digest" column="DIGEST"/>
        <result property="content" column="CONTENT"/>
        <result property="heat" column="HEAT"/>
        <result property="commendNum" column="COMMEND_NUM"/>
        <result property="readNum" column="READ_NUM"/>
        <collection  property="labels" column="ARTICLE_ID"
                     select="com.blog.application.mapper.LabelMapper.getLabelByArticleID"/>
    </resultMap>

    <select id="getAllArticles" resultMap="ArticleMap">
        select * from article
    </select>

    <select id="getArticleByLabel" resultMap="BaseResultMap">
        select * from article u,article2label ur where u.ARTICLE_ID=ur.ARTICLE_ID and ur.LABEL = #{label};
    </select>

    <select id="getArticleByID" resultMap="ArticleMap">
        select * from article where article.ARTICLE_ID=#{articleID}
    </select>

    <delete id="deleteArticleByTD">
        delete from article where ARTICLE_ID = #{articleID}
    </delete>

    <update id="updateArticleByID">
         update article set
            PUBLIC_TIME = #{publicTime},
            TITLE = #{title},
            DIGEST = #{digest},
            CONTENT = #{content}
          where ARTICLE_ID = #{articleID}
    </update>

    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="articleID" flushCache="true"
            timeout="20">
        insert into article(PUBLIC_TIME,TITLE,DIGEST,CONTENT,HEAT,COMMEND_NUM,READ_NUM)
        values (#{publicTime},#{title},#{digest},#{content},#{heat},#{commendNum},#{readNum})
    </insert>

    <update id="addReadNum">
        update article set READ_NUM = READ_NUM+1 where ARTICLE_ID=#{articleID}
    </update>

</mapper>