<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.application.mapper.LabelMapper">
    <!--使用自定义结果集类型-->
    <resultMap type="Label" id="BaseResultMap">
        <id property="label" column="LABEL"/>
    </resultMap>

    <resultMap type="Label" id="LabelMap">
        <id property="label" column="LABEL"/>
        <collection  property="articles" column="LABEL"
                     select="com.blog.application.mapper.ArticleMapper.getArticleByLabel"/>
    </resultMap>

    <select id="getAllLabels" resultMap="LabelMap">
        select * from label
    </select>

    <select id="getLabelByContent" resultMap="LabelMap">
        select * from label where label.LABEL = #{content}
    </select>

    <select id="getLabelByArticleID" resultMap="BaseResultMap">
        select * from label u,article2label ur where u.LABEL=ur.LABEL and ur.ARTICLE_ID = #{articleID};
    </select>

    <insert id="insertLabel" parameterType="Label" flushCache="true" timeout="20">
        insert into label(LABEL) values (#{label})
    </insert>
</mapper>