*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page {
  text-align: center;
  margin-top: 10vh;
}
.ivu-page-total{
  color: white;
}
.ivu-page-prev,
.ivu-page-next {
  background: transparent;
  border-radius:0;
}
.ivu-page-item {
  border: none;
  background-color: #ccc;
  border-radius:0;
}
.ivu-page-item-active a {
  color: white;
}

.ivu-timeline-item-head{
  background-color: #396882;
}

.tag-cloud p{
  cursor: pointer;
}

#searchContent{
  border-radius: 0;
}

.serachbox .ivu-icon{
  cursor: pointer;
}

#divider {
  min-width: 20vw;
  width: 20vw;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
  background: #cf9dba54;
}

.ivu-input{
  border-radius: 0;
}